.page-body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    max-width: 1270px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    display: inline-block;
}

.page-header {
    padding-top: 25px;
    padding-bottom: 20px;
}

.navbar-menu {
    display: inline-block;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    color: red;

}

.navbar-menu-item-one {
    margin-left: 270px;
    margin-right: 82px;
}

.navbar-menu-item-two {
    margin-left: 82px;
    margin-right: 72px;
}

.navbar-menu-item-three {
    margin-left: 72px;
    margin-right: 50px;
}

.navbar-menu-item-four {
    margin-left: 50px;
    margin-right: 330px;
}

.page-image {
    width: 1280px;
    height: 789px;
    top: 78px;
    margin-left: 270px;
}

.text-header {
    margin-left: 270px;
    margin-right: 253px;
}

.footer-button {
    padding: 10px 20px;
    color: red;
    margin-left: 270px;
}

.page-text {
    text-align: center;
    margin-left: 270px;
    margin-right: 293px;
}

.footer-text {
    margin-left: 1215px;
    margin-bottom: 73;
}